<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add to cart</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <script src="{{ url_for('static', filename='js/app.js') }}" defer></script>
</head>
<body class="">
    <div class="navbar">
        <div class="logo">
            <img src="{{ url_for('static', filename='Images/WhatsApp Image 2024-07-29 at 19.44.56.jpeg') }}" alt="logo" class="logo-img" width="150" height="150">
            <h1 class="website-name">AGRIMARKET</h1>
        </div>
        <div class="nav-links">
            <a href="{{ url_for('home') }}" class="active">HOME</a>
            <a href="{{ url_for('about') }}">ABOUT</a>
            <a href="{{ url_for('auctions') }}">AUCTIONS</a>
            <a href="{{ url_for('contact') }}">CONTACT<i class="fa-light fa-phone"></i></a>
          
            <a href="{{ url_for('addToCart') }}">SHOP<span class="cart-icon">🛒</span></a>

        </div>
    </div>
    <div class="container">
        <header>
            <div class="title">PRODUCT LIST</div>
            <div class="icon-cart">
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 15a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0h8m-8 0-1-4m9 4a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-9-4h10l2-7H3m2 7L3 4m0 0-.792-3H1"/>
                </svg>
                <span>0</span>
            </div>
        </header>
        <div class="listProduct">

        </div>
    </div>
    <div class="cartTab">
        <h1>Shopping Cart</h1>
        <div class="listCart">
            <!-- Cart items will be inserted here -->
        </div>
        <div class="totalPrice">Total: R0.00</div> <!-- Add this line -->
        <div class="btn">
            <button class="close">CLOSE</button>
            <button class="checkOut">Check Out</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/app.js') }}" defer></script>
</body>
</html>
